
.message article{
	-webkit-box-shadow: -5px -2px 7px rgba(0, 0, 0, .175);
	-moz-box-shadow: -5px -2px 7px rgba(0, 0, 0, .175);
	padding-top: 10px;
	margin-bottom: 10px;
	border-right: 1px solid #e5e5e5;
}

.message .message-owner {
	padding: 5px 5px;
	border-bottom: 2px solid #e5e5e5;
}

.message .message-owner img {
	-webkit-border-radius: 50% 50%;
}

.message .message-content {
	padding: 10px 10px;
	text-align: left;

}

.message .message-content img{
	margin-bottom: 10px;

}

.message .message-content p{
	word-wrap: break-word;

}

.message .message-footer {
	margin-right: 10px;
	vertical-align: bottom;
}

.message .message-footer span {
	font-weight: bold;
	font-size: 1.3em;
	padding-left: 10px;
}



.message-action {
	position: absolute;
	top: 0px;
	right: 20px;

}

.message-action span{
	-webkit-transition: background 1s linear;
	cursor: pointer;
	color: white;
	display: block;
	float: left;
	width: 24px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px;
	margin-left: 5px;
	*background: green;
	background-image: linear-gradient(to bottom,#a21333 10%,#103838 70%);
	background-image: -webkit-linear-gradient(to bottom,#a21333 10%,#103838 70%);
}

.message-action span:hover {
	background: green;
}


.message-comment-panel {
	min-height: 20px;
	padding: 19px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-top: 1px solid #e5e5e5;
	background-image: linear-gradient(to bottom,#ffffff 20%, #e5e5e5 100%);
	background-image: -webkit-linear-gradient(to bottom,#ffffff 20%, #e5e5e5 100%);
	background-repeat: repeat-x;
}

/*media query*/



@media all and (max-width: 340px) {

	.message-action span{
		display: block;
		font-size: 12px;
		width: 15px;
		height: 32px;
		padding: 1px;
		margin-left: 3px;
	}

	.message .message-content img{
		width: 100%;
		height: 100%;
	}

	.message .message-owner span {
		font-size: 10px;
	}


}

@media all and (max-width: 580px) and (min-width: 341px){


	.message-action span{
		display: block;
		font-size: 12px;
		width: 15px;
		height: 32px;
		padding: 1px;
		margin-left: 3px;
	}

	.message .message-content img{
		width: 45%;
		height: 100%;
	}


}


