.message-comment-panel {
  -webkit-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block;
  line-height:20px;
  opacity:1;
}

.message-comment-panel .slide-up-cp a{
	cursor: poiner;
	font-size: 6px;
}

.cm-list {
	padding-top: 15px;
	padding-bottom:10px;	
}

/*评论分页控件*/

.nxs-cm-pagination {
	display: block;
}

.xs-cm-pagination {
	display: none;
}

.nxs-pagination {
	padding-top: 15px;
	padding-bottom:10px;	
}


.message article{
	-webkit-box-shadow: -5px -2px 7px rgba(0, 0, 0, .175);
	-moz-box-shadow: -5px -2px 7px rgba(0, 0, 0, .175);
	padding-top: 10px;
	margin-bottom: 10px;
	border-right: 1px solid #e5e5e5;
}

.message .message-owner {
	padding: 5px 5px;
	border-bottom: 2px solid #e5e5e5;
	font-family: 宋体;
}



.message .message-owner img {
	-webkit-border-radius: 50% 50%;
	
}

.message .message-owner small {
	color: #999;
	margin-left: 10px;
}

.message .message-content {
	padding: 10px 10px;
	font-family: 微软雅黑;
	text-align: left;

}

.message .message-content .img-group {
	width: 350px;
	position: relative;
}

.message .message-content .img-wrap{
  	margin-bottom: 10px;
	margin-right: 10px;  
	position: relative;
	float: left;
}

.message-content .img-wrap {
 	width: 100px;
	height: 100px; 
	background: url(../img/loading.gif) no-repeat;
	background-size: 20% 20%;
 	background-position: 40% 40%; 
}

.message-content .img-wrap{
	/* border: 5px solid yellow; */
}

.message-content .img-wrap img {
	-webkit-transition:all linear 0.2s;
	display: none;
	cursor: pointer;
}



.image img {
	margin: auto auto;
}


.message .message-content p{
	word-wrap: break-word;

}

.message .message-footer {
	margin-right: 10px;
	vertical-align: bottom;
}


.message-action {
	padding:10px 10px 10px 20px;;
}

.message-action-remove, .message-action-repost, .message-action-comment {
	display: inline-block;
	position: relative;
	margin-top: 5px;
}


 .message-action .badge{
	color: white;
	-webkit-transition: all linear .5s;
	-o-transition: all linear .5s;
	-moz-transition: all linear .5s;
	transition: all linear .5s;
}

.m-item {
	cursor : pointer;
}

 .m-item:hover .badge{
 	background: #330000;
 }
 
 .m-item:hover .m-item-a {
 	color:#31708f;
 }


.message-comment-panel {
	min-height: 20px;
	padding: 19px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-top: 1px solid #e5e5e5;
	background-image: linear-gradient(to bottom,#ffffff 20%, #e5e5e5 100%);
	background-image: -webkit-linear-gradient(to bottom,#ffffff 20%, #e5e5e5 100%);
	background-repeat: repeat-x;
}

ul.pagination {
	margin-bottom: 0px;
}



.message-footer small {
	vertical-align: top;
	font-size: 0.7em;
}

/*media query*/

@media only screen {
	.message-content .img-wrap img:hover{
		opacity: 0.5;
	}
}

@media all and (max-width: 340px) {
	
	
	.message .message-owner a span {
		font-size: 14px;
	}
	
	.message-action {
		padding: 0px 0px;
	}
	
	.m-item {
		width: 14px;
		height: 14px;
		font-size: 5px;
	}
	
	.m-item-a {
		width: 14px;
	}
	
	.m-item .badge{
 		display: none;
 	}
 	
 	.glyphicon-retweet:before, .glyphicon-comment:before, .glyphicon-remove:before {
 		content: "";
 	}
 	

	.message-action span{
		display: block;
		font-size: 12px;
		width: 15px;
		height: 32px;
		padding: 1px;
		margin-left: 3px;
	}

	.message .message-content .img-wrap{
		display: none;
	}

	.message .message-content .img-wrap:first-child{
		display: block;
		width: 100px;
		height: 100px;
	}
	
	.message .message-content .img-group {
		width: 110px;
	}
	
	.message .message-content .img-group:after {
		cursor: pointer;
		background: rgba(0,0,0,0.9);
		color: white;
		font-size: 0.9em;
		content: "see more";
		display	:block;
		width : 100px;
		height: 20px;
		line-height: 20px;
		position : absolute;
		margin-top: 80px;
	}

	.message .message-owner span {
		font-size: 10px;
	}
	
	.xs-cm-pagination {
		display: block;
	}
	
	.nxs-cm-pagination  {
		display: none;
	}

}

@media all and (max-width: 580px) and (min-width: 341px){
	
	
	.message .message-owner a span {
		font-size: 14px;
	}
	
	.m-item {
		font-size: 0.8em;
	}
	
	.m-item .badge{
 		font-size: 0.8em;
 	}

	
	.message .message-content .img-wrap {
		width: 90px;
		height: 90px;
		margin-bottom: 10px;
		margin-right: 10px;		
	}
	
	.message .message-content .img-group {
		width: 330px;
	}
	
	.retweet-message .message-content .img-wrap {
		width: 80px;
		height: 80px;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	
	.retweet-message .message-content .img-group {
		width:270px;
	}

}


